.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-header {
  color: #171f46;
  font-size: 20px;
}
.card-description {
  color: #64748b;
  font-size: 10px;
}
.card-container {
  list-style-type: none;

  background-color: #ffff;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 323px;
}
.image-container {
  display: flex;
  justify-content: flex-end;
}
.image {
  width: 50px;
  height: 50px;
}
